In [3]:
import pandas as pd

In [4]:
data1 = pd.DataFrame({"Yes" : [50, 21], "No" : [131, 2]})
display(data1)

   Yes   No
0   50  131
1   21    2

In [8]:
data2 = pd.DataFrame({"Bob" : ['I liked it', 'It was awful'], "Sue" : ['Pretty Good', 'Bland']})
display(data2)

            Bob          Sue
0    I liked it  Pretty Good
1  It was awful        Bland

In [11]:
data3 = pd.DataFrame({"Bob" : ['I liked it', 'It was awful'], "Sue" : ['Pretty Good', 'Bland']}, index=["Product A", "Product B"])
display(data3)

                    Bob          Sue
Product A    I liked it  Pretty Good
Product B  It was awful        Bland

In [13]:
serie1 = pd.Series(["Product A", "Product B"])
print(serie1)

0    Product A
1    Product B
dtype: object

In [15]:
serie2 = pd.Series([30, 35, 40], index=["2015 Sales", "2016 Sales", "2017 Sales"], name="Product A")
print(serie2)

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [20]:
wine_reviews = pd.read_csv("../data/winemag-data/winemag-data-130k-v2.csv")
# wine_reviews.head()
wine_reviews.shape

(129971, 14)