In [1]:
import pandas as pd
pd.set_option("display.max_rows", 5)

In [2]:
reviews = pd.read_csv("../data/winemag-data/winemag-data-130k-v2.csv", index_col=0)

#### 1 - Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [8]:
reviews_written = reviews.groupby("taster_twitter_handle").taster_twitter_handle.count()

#### 2 - What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [15]:
test = reviews.groupby("price").points.max()

#### 3 - What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [17]:
price_extremes = reviews.groupby("variety")["price"].agg([min, max])
price_extremes

C:\Users\jeanm\AppData\Local\Temp\ipykernel_36176\1744931110.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  price_extremes = reviews.groupby("variety")["price"].agg([min, max])
C:\Users\jeanm\AppData\Local\Temp\ipykernel_36176\1744931110.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  price_extremes = reviews.groupby("variety")["price"].agg([min, max])

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

#### 4 - What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [18]:
sorted_varieties = price_extremes.sort_values(by=['min','max'], ascending=False)

#### 5 - Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [22]:
reviewer_mean_ratings = reviews.groupby("taster_name")["points"].mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

#### 6 - Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [23]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
           ...
75%      88.975256
max      90.562551
Name: points, Length: 8, dtype: float64

#### 7 - What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [28]:
country_variety_counts = reviews.groupby(["country", "variety"]).size().sort_values(ascending=False)