In [1]:
import pandas as pd
pd.set_option("display.max_rows", 5)

In [3]:
reviews = pd.read_csv("../data/winemag-data/winemag-data-130k-v2.csv", index_col=0)

### Groupwise analysis

In [15]:
reviews.groupby("points").points.count()
reviews.groupby("points").price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

In [19]:
reviews.groupby("winery").apply(lambda df:df.title.iloc[0])

C:\Users\jeanm\AppData\Local\Temp\ipykernel_34868\1901718575.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby("winery").apply(lambda df:df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [25]:
a = reviews.groupby(["country", "province"]).apply(lambda df:df.loc[df.points.idxmax()])

C:\Users\jeanm\AppData\Local\Temp\ipykernel_34868\4027354387.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  a = reviews.groupby(["country", "province"]).apply(lambda df:df.loc[df.points.idxmax()])

pandas.core.indexes.multi.MultiIndex

In [21]:
reviews.groupby(["country"]).price.agg([len, min, max])

C:\Users\jeanm\AppData\Local\Temp\ipykernel_34868\2205373879.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(["country"]).price.agg([len, min, max])
C:\Users\jeanm\AppData\Local\Temp\ipykernel_34868\2205373879.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(["country"]).price.agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

In [30]:
countries_reviewed = reviews.groupby(["country","province"]).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [24]:

type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

In [28]:
countries_reviewed.reset_index()

pandas.core.indexes.multi.MultiIndex

### Sorting

In [33]:
countries_reviewed.sort_values(by='len')

                             len
country province
Turkey  Elazığ-Diyarbakir      1
        Urla-Thrace            1
...                          ...
US      Washington          8639
        California         36247

[425 rows x 1 columns]

In [34]:
countries_reviewed.sort_values(by='len', ascending=False)

                      len
country province
US      California  36247
        Washington   8639
...                   ...
        Hawaii          1
        Kentucky        1

[425 rows x 1 columns]

In [35]:
countries_reviewed.sort_index()

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [36]:
countries_reviewed.sort_values(by=["country","len" ])

                             len
country   province
Argentina Other              536
          Mendoza Province  3264
...                          ...
Uruguay   Uruguay             24
          Canelones           43

[425 rows x 1 columns]